<div class="wb-container">
  <header class="wb-header wb-shrink">
    <div class="wb-logo">
      WorkBattle<span class="wb-logo__dot">.</span>
    </div>
    <div class="wb-header__actions">
      <button class="wb-button wb-button--transparent" (click)="login()">
        Войти в аккаунт
      </button>
    </div>
  </header>
  <main class="wb-main">
    <section class="wb-welcome">
      <div class="wb-welcome__content">
        <h1 class="wb-welcome__heading">Конкурсная площадка<br/> нового поколения</h1>
        <p class="wb-welcome__text">
          Нужен сайт, логотип, текст или же видеоролик на заказ,
          но не уверены в выборе исполнителя? Пусть делают все сразу!
        </p>
        <button class="wb-button wb-button--filled">
          Зарегистрироваться
        </button>
      </div>
      <img class="wb-welcome__image" src="assets/media/landing/worktable.svg" alt="worktable"/>
    </section>
    <section class="wb-feature wb-shrink">
      <h1 class="wb-feature__heading">Популярные услуги</h1>
      <div class="wb-feature__content" nz-row [nzGutter]="[32, 32]">
        <div nz-col [nzSpan]="24" [nzXXl]="12">
          <div class="wb-service">
            <div class="wb-service__logo wb-service__logo--brush"></div>
            <div class="wb-service__content">
              <h3 class="wb-service__heading">Дизайн</h3>
              <p class="wb-service__text">
                Задача организации, в особенности же постоянное
                информационно-пропагандистское обеспечение нашей деятельности требуют!
              </p>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="24" [nzXXl]="12">
          <div class="wb-service">
            <div class="wb-service__logo wb-service__logo--monitor"></div>
            <div class="wb-service__content">
              <h3 class="wb-service__heading">Программирование</h3>
              <p class="wb-service__text">
                Задача организации, в особенности же постоянное
                информационно-пропагандистское обеспечение нашей деятельности требуют!
              </p>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="24" [nzXXl]="12">
          <div class="wb-service">
            <div class="wb-service__logo wb-service__logo--writing"></div>
            <div class="wb-service__content">
              <h3 class="wb-service__heading">Копирайтинг</h3>
              <p class="wb-service__text">
                Задача организации, в особенности же постоянное
                информационно-пропагандистское обеспечение нашей деятельности требуют!
              </p>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="24" [nzXXl]="12">
          <div class="wb-service">
            <div class="wb-service__logo wb-service__logo--video"></div>
            <div class="wb-service__content">
              <h3 class="wb-service__heading">Видео и анимация</h3>
              <p class="wb-service__text">
                Задача организации, в особенности же постоянное
                информационно-пропагандистское обеспечение нашей деятельности требуют!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wb-benefit">
      <h1 class="wb-benefit__heading">Кому будет полезен сервис?</h1>
      <div class="wb-benefit__content">
        <div class="wb-benefit__freelancer">
          <h2 class="we-benefit__consumer">Фрилансерам</h2>
          <h2 class="we-benefit__consumer-description">
            Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей
            деятельности требуют! Задача организации, в особенности же постоянное! Задача организации.
          </h2>
          <img class="we-benefit__freelancer-image" src="assets/media/landing/freelance.svg" alt="freelance"/>
        </div>
        <div class="wb-benefit__entrepreneur">
          <img class="we-benefit__entrepreneur-image" src="assets/media/landing/entrepreneur.svg" alt="freelance"/>
          <h2 class="we-benefit__consumer we-benefit__consumer--entrepreneur">Предпринимателям</h2>
          <h2 class="we-benefit__consumer-description we-benefit__consumer-description--entrepreneur">
            Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей
            деятельности требуют! Задача организации, в особенности же постоянное! Задача организации.
          </h2>
        </div>
      </div>
    </section>
    <section class="wb-attention-grabber">
      <h1 class="wb-attention-grabber__heading">Получите бонус после регистрации</h1>
      <p class="wb-attention-grabber__text">
        Задача организации, в особенности же постоянное
        информационно-пропагандистское обеспечение нашей деятельности требуют!
      </p>
      <button class="wb-button wb-button--filled">
        Зарегистрироваться
      </button>
      <img class="wb-attention-grabber__image" alt="cup" src="assets/media/landing/attention-cup.svg"/>
    </section>
  </main>
  <footer class="wb-footer wb-shrink">
    <div class="wb-logo">
      WorkBattle<span class="wb-logo__dot">.</span>
    </div>
    <p class="wb-footer__copyright">
      ТОВ «ВОРКБАТТЛ» &copy; 2021
    </p>
  </footer>
</div>
