<div class="wb-cabinet-comment">
  <div class="wb-cabinet-comment__content">
    <img [src]="comment.user.avatar || imageConstants.DEFAULT_AVATAR"
         class="wb-cabinet-comment__author-avatar" alt="avatar"/>
    <div class="wb-cabinet-submission__details">
      <h3 class="wb-cabinet-comment__author">{{comment.user.username}}</h3>
      <p class="wb-cabinet-comment__text">
        {{comment.text}}
      </p>
    </div>
  </div>
  <div class="wb-cabinet-comment__attachments" *ngFor="let attachment of comment.attachments">
    <a [href]="attachment.url" target="_blank">
      <img [src]="attachment.url" class="wb-cabinet-comment__attachment" alt="attachment"/>
    </a>
  </div>
</div>
