<div class="wb-cabinet-comment" [routerLink]="['/main/submission/' + 123]">
  <div class="wb-cabinet-comment__content">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg"
         class="wb-cabinet-comment__author-avatar" alt="avatar" />
    <div class="wb-cabinet-submission__details">
      <h3 class="wb-cabinet-comment__author">ArthCode</h3>
      <p class="wb-cabinet-comment__text">
        Привет! Сделал очень круто, но елемент на скрине я бы подправил.
        Но в целом очень достойно, видно рост навыков на глазах.
      </p>
    </div>
  </div>
  <div class="wb-cabinet-comment__attachments">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg"
         class="wb-cabinet-comment__attachment" alt="attachment" />
  </div>
</div>
