<section class="wb-cabinet-body">
  <div class="wb-cabinet-body__contest-list">
    <h3 class="wb-cabinet-body__contest-heading">Контесты</h3>
    <app-personal-area-contest *ngFor="let _ of [1,2,3,4,5]"></app-personal-area-contest>
  </div>
  <div class="wb-cabinet-body__about">
    <button class="wb-button wb-button--filled wb-button--create-contest">Создать контест</button>
    <div class="wb-cabinet-body__about-block">
      <h3 class="wb-cabinet-body__about-headline">Про нас</h3>
      <p class="we-cabinet-body__about-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        <br/><br/>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
</section>
