<section class="wb-cabinet-body">
  <div class="wb-cabinet-body__contest-list">
    <h3 class="wb-cabinet-body__contest-heading">
      Контесты
      &nbsp;
      <i *ngIf="!contestListInit" nz-icon nzType="loading" nzTheme="outline"></i>
    </h3>
    <ng-container *ngFor="let contest of contestList">
      <app-personal-area-contest [contest]="contest" *ngIf="listOfChosenContestTypes.includes(contest.contestType)">
      </app-personal-area-contest>
    </ng-container>
  </div>
  <div class="wb-cabinet-body__about">
    <button class="wb-button wb-button--filled wb-button--create-contest" (click)="onCreateContestClick()">
      Создать контест
    </button>
    <div class="wb-cabinet-body__about-block">
      <h3 class="wb-cabinet-body__about-headline">Про нас</h3>
      <p class="we-cabinet-body__about-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        <br/><br/>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="Фильтр списка контестов"
        class="wb-cabinet-body__contest-types"
        [(ngModel)]="listOfChosenContestTypes">
        <nz-option nzLabel="Дизайн" [nzValue]="contestTypeEnum.DESIGN"></nz-option>
        <nz-option nzLabel="Программирование" [nzValue]="contestTypeEnum.PROGRAMMING"></nz-option>
        <nz-option nzLabel="Копирайтинг" [nzValue]="contestTypeEnum.WRITING"></nz-option>
        <nz-option nzLabel="Видео и анимация" [nzValue]="contestTypeEnum.VIDEO"></nz-option>
      </nz-select>
    </div>
  </div>
</section>

<app-create-contest [isVisible]="createContest"
                    [handleOk]="onCreateContestFormSubmit"
                    [handleCancel]="closeCreateContestModal"></app-create-contest>
