<div class="wb-container">
  <header class="wb-cabinet-header">
    <div class="wb-cabinet-header__logo" [routerLink]="['/main']">
      WorkBattle
    </div>
    <div class="wb-cabinet-header__user">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg"
           alt="avatar" class="wb-cabinet-header__user-avatar"/>
      <p class="wb-cabinet-header__user-name">
        ArthCode
      </p>
      <img class="wb-cabinet-header__user-logout" src="assets/media/dashboard/logout.svg" alt="logout" />
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
