<section class="wb-cabinet-body" *ngIf="submissionDetails">
  <div class="wb-cabinet-body__contest-list">
    <h3 class="wb-cabinet-body__contest-heading">Комментарии</h3>
    <app-submission-comment *ngFor="let comment of submissionDetails.commentsList" [comment]="comment">
    </app-submission-comment>
    <p class="wb-cabinet-body__comments-placeholder" id="no-comments"
       *ngIf="submissionDetails.commentsList.length === 0">
      Комментариев на данный момент нет, будьте первым комментатором!
    </p>
    <div class="wb-cabinet-body__comments-form">
      <input class="wb-cabinet-body__comments-form-input" type="text" #commentInput/>
      <button class="wb-button wb-button--transparent wb-cabinet-body__comments-send"
              [disabled]="!canPostComment"
              (click)="sendComment(commentInput.value)">
        Отправить
      </button>
    </div>
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzAccept="image/png, image/gif, image/jpeg">
      <button nz-button><i nz-icon nzType="upload"></i>Выбрать фото</button>
      <span class="wb-cabinet-body__comments-max-size"
            [ngClass]="{'wb-cabinet-body__comments-max-size--exceeded': maxSizeExceeded}">
      Макс. 10 МБ
      </span>
    </nz-upload>
  </div>
  <div class="wb-cabinet-body__about">
    <div class="wb-cabinet-body__about-block we-submission-info">
      <h3 class="wb-cabinet-body__about-headline">Информация</h3>
      <div class="wb-submission-info__author">
        <img alt="avatar" class="wb-submission-info__author-avatar" id="author-avatar"
             [src]="submissionDetails.submission.user.avatar || imageConstants.DEFAULT_AVATAR"/>
        <div class="we-submission-info__author-details">
          <p class="wb-submission-info__author-name">{{submissionDetails.submission.user.username}}</p>
          <p class="wb-submission-info__author-description">Автор</p>
        </div>
      </div>
      <ng-container *ngIf="submissionDetails.submission.repoUrl">
        <h3 class="wb-cabinet-body__about-headline">Ссылка на репозиторий</h3>
        <a class="we-cabinet-body__about-text" [href]="submissionDetails.submission.repoUrl" target="_blank">
          {{submissionDetails.submission.repoUrl}}
        </a>
      </ng-container>
      <ng-container *ngIf="submissionDetails.submission.contentUrl">
        <h3 class="wb-cabinet-body__about-headline">Ссылка на работу</h3>
        <a class="we-cabinet-body__about-text" [href]="submissionDetails.submission.contentUrl" target="_blank">
          {{submissionDetails.submission.contentUrl}}
        </a>
      </ng-container>
      <ng-container *ngIf="submissionDetails.submission.fileUrl">
        <h3 class="wb-cabinet-body__about-headline">Ссылка на файл</h3>
        <a class="we-cabinet-body__about-text" [href]="submissionDetails.submission.fileUrl" target="_blank">
          Скачать файл
        </a>
      </ng-container>
      <h3 class="wb-cabinet-body__about-headline">Голосование</h3>
      <div class="we-submission-info__voting">
        <div class="wb-submission-info__voting-points"
             [ngClass]="{'wb-submission-info__voting-points--interactive': isCurrentUserNotSubmissionOwner}">
          <div class="wb-submission-info__voting-point wb-submission-info__voting--likes"
               [ngClass]="{'wb-submission-info__voting-point--active': submissionDetails.submission.liked}"
               (click)="onPutLike()">
            {{submissionDetails.submission.likes}}
          </div>
          <div class="wb-submission-info__voting-point wb-submission-info__voting--dislikes"
               [ngClass]="{'wb-submission-info__voting-point--active': submissionDetails.submission.disliked}"
               (click)="onPutDislike()">
            {{submissionDetails.submission.dislikes}}
          </div>
        </div>
        <div class="wb-submission-info__voting-progress-bar">
          <div class="wb-submission-info__voting-active-progress-bar" id="likes-progress"
               [style.width.%]="(submissionDetails.submission.likes * 100) /
               (submissionDetails.submission.likes + submissionDetails.submission.dislikes)">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
