.wb-cabinet-contest {
  margin-bottom: 12px;
  border-bottom: rgba(100, 115, 127, 0.5) 1px solid;
  cursor: pointer;
  outline: 0;
}

.wb-cabinet-contest__name {
  font-weight: 600;
  margin: 0;
}

.wb-cabinet-contest__description {
  margin-bottom: 4px;
}

.wb-cabinet-contest__date {
  color: var(--wb-text-color);
  font-size: 12px;
}
